* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #5a7acd;
  text-align: center;
}

.container {
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.game {
  height: 60vmin;
  width: 60vmin;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1.5vmin;
}

.box {
  height: 19vmin;
  width: 19vmin;
  border-radius: 1rem;
  border: none;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
  font-size: 8vmin;
  background-color: #f5f2f2;
}

#reset-btn {
  padding: 1rem;
  font-size: 1.25rem;
  background-color: #1c4d8d;
  color: #bde8f5;
  border-radius: 0.5rem;
  border: none;
}

#new-btn {
  padding: 1rem;
  font-size: 1.25rem;
  background-color: #1c4d8d;
  color: #bde8f5;
  border-radius: 0.5rem;
  border: none;
}

main h1 {
  color: #E2FDFF;
  font-size: 8vmin;
  font-family: "Knewave", system-ui;
  font-weight: 400;
  font-style: normal;
  margin: 2rem 0;
}

#msg {
  color: #f5f2f2;
  font-size: 5vmin;
  font-family: "Knewave", system-ui;
  font-weight: 400;
  font-style: normal;
}

.msg-container {
  height: 100vmin;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 4rem;
}

.hide {
  display: none;
}

