* {
    margin: 0;
    padding: 0;
}

body {
    text-align: center;
}

.game-tittle {    
    height: 5rem;
    line-height: 5rem;    
    background-color: black;
    color: white;
}

.choices {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
}

.choice {
    height: 220px;
    width: 220px    ;
    margin-top: 3rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.choice:hover {
    background-color: black;
}

.choice img {
    height: 200px;
    width: 200px;
    object-fit: cover;
    border-radius: 50%;
}

.score-board {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin-top: 3rem;
    gap: 5rem;
}

#user-score, #comp-score {
    font-size: 4rem;
}

.msg-container {
    margin-top: 5rem;
}

#msg {
    background-color: black;
    color: white;
    font-size: 2rem;
    display: inline;
    padding: 1rem;
    border-radius: 1rem;
}